@font-face {
    font-family: "Oswald_Regular";
    src: url("../../fonts/Oswald-Regular.ttf");
}

@font-face {
    font-family: "Oswald_Light";
    src: url("../../fonts/Oswald-Light.ttf");
}

@font-face {
    font-family: "Oswald_Bold";
    src: url("../../fonts/Oswald-Bold.ttf");
}