// ------- COLORS -------

$grey : #191919;
$lightGrey : #E9E9E9;
$red : #BF3D47;
$white : white;

// ------- FONTS -------

$mainFont : "Oswald_Regular";
$lightFont : "Oswald_Light";
$boldFont : "Oswald_Bold";