section.intro {
    display: flex;
    justify-content: center;
    margin: 3em 0 5em 0;

    div.containerIntro {
        display: flex;
        justify-content: center;
        width: 65vw;
        img {
            max-width: 30vw;
        }
        div.introText {
            margin: 0 2em;
            display: flex;
            flex-direction: column;

            img {
                width: 10em;
                margin: 1.5em 0;
            }
            p {
                font-family: $mainFont;
                max-width: 85%;
            }
        }
    }
}