section.adminPanel {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        color: $red;
        text-align: center;
        margin-top: 2em;

        &::after {
            background-color: $red;
        }
    }

    div.container {
        display: flex;
        width: 800px;
        border: 1px solid rgba(50, 50, 93, 0.5);
        padding: 2em;
        margin-bottom: 0;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

        h3 {
            margin-top: 0;
        }

        div.buttons {
            display: flex;
            flex-direction: column;
            padding-right: 2em;
            border-right: 1px solid rgba(50, 50, 93, 0.5);

            button {
                font-family: $mainFont;
                font-size: 1em;
                width: 180px;
                margin-bottom: 2em;
                padding: 0.5em 0;
            }

            :last-child {
                margin: 4em 0 2em 0;
                margin-bottom: 0;
            }
        }

        form {
            display: flex;
            flex-direction: column;
            width: 60%;

            div.item {
                margin-bottom: 1.5em;;
                display: flex;
                label {
                    font-family: $mainFont;
                    font-size: 1.1em;
                    margin-right: 1.5em;
                    width: 50%;
                    display: block;
                    text-align: end;
                }
    
                input, select {
                    font-family: $lightFont;
                    font-size: 1.1em;
                    width: 50%;
                    display: block;
                }

                textarea {
                    resize: none;
                    font-style: $mainFont;
                }
            }
            div.submit {
                display: block;
                text-align: center;

                input {
                font-family: $mainFont;
                font-size: 1em;
                padding: 0.5em 2em;
                }
            }
        }
    }
}

header#adminHeader {
    display: none;
}

@media screen and (max-width: 768px) {

    header#adminHeader {
        display: block;
        a {
            cursor: pointer;
        }
    }

    section.adminPanel {
        span {
            display: none;
        }
        div.container {
            flex-direction: column;
            align-items: center;
            width: 80%;

            form {
                align-items: center;
                div.item {
                    flex-direction: column;
                    align-items: center;
                    width: 250px;
    
                    label,input,select {
                        margin: 0;
                        text-align: left;
                        width: 100%;
                    }
                }
            }
            div.buttons {
                display: none;
            }
        }
    }
}