h1 {
    font-family: $boldFont;
    margin: 0;
    font-size: 4em;
    text-transform: uppercase;
    color: $grey;
}

h2 {
    font-family: $boldFont;
    margin: 0px;
    font-size: 3em;
    text-transform: uppercase;
    color: $grey;
}