header {
    background-color: $red;
    position: relative;
    padding: 18px;
    nav.navbar {
        display: flex;
        justify-content: space-between;

        div.logo {
            position: absolute;
            top: 50%;
            left: 10vw;
            transform: translateY(-50%);
        }

        ul.navbar_links {
            display: flex;
            align-items: center;
            list-style-type: none;
            margin: 0 auto;
            padding: 0;
            
            li {
                border-right: 1px solid $white;
                a {
                    position: relative;
                    font-family: $mainFont;
                    font-size: 20px;
                    text-decoration: none;
                    color: $white;
                    margin: 0 35px;
                    padding-bottom: 20px;

                    &::after {
                        content: '';
                        position: absolute;
                        width: 100%;
                        transform: scaleX(0);
                        height: 2px;
                        bottom: 10px;
                        left: 0;
                        background-color: $white;
                        transform-origin: bottom;
                        transition: transform 0.2s ease-out;
                    }

                    &:hover::after {
                        transform: scaleX(1);
                        transform-origin: bottom;
                    }
                }
            }
            li:last-child {
                border: none;
            }
        }
        button.burger {
            display: none;
        }
    }
}

@media screen and (max-width: 1050px) {
    header {
        nav.navbar {
            div.logo {
                left: 5vw;
            }
        }
    }
}

@media screen and (max-width: 880px) {
    header {
        nav.navbar {
            div.logo {
                left: 1vw;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    header {
        height: 30px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 20;
        nav.navbar {
            position: relative;
            display: flex;
            margin-top: 1em;
            ul.navbar_links {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: fixed;
                left: 0;
                width: 100%;
                top: 65px;
                height: 100%;
                background-color: $red;
                z-index: 5;
                li {
                    border: none;

                    &::after {
                        content: '';
                        position: absolute;
                        width: 50%;
                        height: 5px;
                        bottom: -0.5em;
                        transform: translate(-50%, -50%);
                        left: 50%;
                        right: 50%;
                        background-color: $grey;
                        transform-origin: bottom;
                    }
                    a {
                        display: block;
                        margin-bottom: 1.5em;
                        padding: 0;
                        font-size: 2rem;
    
                        &::after {
                            display: none;
                        }
                    }
                }

                &.hide_nav{
                    display: none
                }
            }
           button.burger {
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            z-index: 10;
            background: none;
            display: block;
            border: 0;
            border-radius: 0.5rem;
            padding: 5px 7px;
            margin-right: 1rem;
            cursor: pointer;
            color: $white;
           }
        }
    }
    .banner {
        margin-top: 70px;
    }
}