main {
    section.shop {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 4em;
    
        h2 {
            margin-bottom: 1.8em;
        }
        
        p {
            text-align: center;
            font-family: $mainFont;
            color: $red;
            font-size: 1.3em;
            text-decoration: underline;
        }
        
        div.container {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 80%;
    
            div.item {
                margin: 0 1em 2em 1em;
                img {
                    z-index: 0;
                    max-width: 300px;
                    transform: scale(1);
                    transition: transform 0.1s;
                    cursor: pointer;
                }
                img:hover {
                    transform: scale(1.2);
                }
    
                div.productInfo {
                    display: flex;
                    justify-content: space-evenly;
                    z-index: 1;
                    margin-bottom: 1em;
    
                    :first-child {
                        color: $grey;
                    }
                }
            }
    
            div.clothes {
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;
                margin-bottom: 3em;
            }
    
            div.accessories {
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;
            }
        }
        
    }
}

@media screen and (max-width: 768px) {
    main {
        section.shop {
            h2 {
                span {
                    display: none;
                }
            }
            div.container {
                width: 100%;
                div.clothes {
                    margin-bottom: 0;
                }
                div.item {
                    margin: 0 0 0.5em 0;

                    img:hover {
                        transform: scale(1);
                        cursor: default;
                    }
                }
            }
        }
    }
}